<div class="tweet-model">
    <div class="row" onclick='location.href="{{ url_for('comment_tweet', tweet_id=tweet.tweet.id) }}";' style="cursor: pointer;">
        <a href="{{ url_for('user_profile', username=tweet.user.username) }}" class="retweet-text">{{ tweet.user.username }} Lo retwitteo</a>
        <div class="col-2 foto-perfil circulo">
            <a href="{{ url_for('user_profile', username=tweet.tweet.author.username) }}"><img src="{{ tweet.tweet.author.email | gravatar }}"/></a>
        </div>
        <div class="col-10 tweet-text">
            <div class="row">
                <h3> <a href="{{ url_for('user_profile', username=tweet.tweet.author.username) }}">@{{ tweet.tweet.author.username }}</a></h3>
            </div>
            <div class="row">
                <p>{{ tweet.tweet.text }}</p>
            </div>
            <div class="row">
                <div class="col-2 icono-area comment-tweet">
                    <a href="{{ url_for('comment_tweet', tweet_id=tweet.id) }}" style="color: white;"><i class="far fa-comments rt-f-iconos"></i><span>{{ tweet.tweet.comments.all()|length }}</span></a>
                </div>
                <div class="col-2 icono-area like">
                    {% if tweet.tweet.id in user_likes %}
                    <a href="{{ url_for('delete_like', tweet_id=tweet.tweet.id) }}" style="color: rgb(230, 69, 69);"><i class="fas fa-heart rt-f-iconos"></i><span>{{ tweet.tweet.likes|length }}</span></a>
                    {% else %}
                    <a href="{{ url_for('add_like', tweet_id=tweet.tweet.id) }}" style="color: white;"><i class="fas fa-heart rt-f-iconos"></i><span>{{ tweet.tweet.likes|length }}</span></a>
                    {% endif %}
                </div>
                <div class="col-2 icono-area rt">
                    {% if tweet.tweet.id in user_rt %}
                    <a href="{{ url_for('delete_retweet', tweet_id=tweet.tweet.id) }}" style="color: rgb(45, 168, 117);"><span><i class="fas fa-retweet rt-f-iconos"></i></span><span>{{ tweet.tweet.retweets|length }}</span></a> 
                    {% else %}
                    <a href="{{ url_for('add_retweet', tweet_id=tweet.tweet.id) }}" style="color: white;"><span><i class="fas fa-retweet rt-f-iconos"></i></span><span>{{ tweet.tweet.retweets|length }}</span></a>
                    {% endif %}                            
                </div>
            </div>
        </div>
    </div>
</div>