<div class="tweet-model">
    {% if (tweet.commented.all()|length) > 0 %}
    <div class="row" onclick='location.href="{{ url_for('comment_tweet', tweet_id=tweet.commented.all()[0].id) }}";' style="cursor: pointer;">
        <a href="{{ url_for('user_profile', username=tweet.tweet_to_comment_username) }}" class="retweet-text">Contestando a {{ tweet.tweet_to_comment_username }}</a>
        <div class="col-2 foto-perfil circulo">
            <a href="{{ url_for('user_profile', username=tweet.author.username) }}"><img src="{{ tweet.author.email | gravatar }}"/></a>
        </div>
        <div class="col-10 tweet-text">
            <div class="row">
                {% if current_user.id == tweet.author_id %}
                <div class="col-11">
                    <h3><a href="{{ url_for('user_profile', username=tweet.author.username) }}">@{{ tweet.author.username }}</a></h3>
                </div>
                <div class="col-1">
                    <a href="{{ url_for('delete_tweet', tweet_id=tweet.id) }}" class="delete-tweet-icon"><i class="far fa-trash-alt"></i></a>
                </div>
                {% else %}
                <h3> <a href="{{ url_for('user_profile', username=tweet.author.username) }}">@{{ tweet.author.username }}</a></h3>
                {% endif %}
            </div>
            <div class="row">
                <p>{{ tweet.text }}</p>
            </div>
            <div class="row like">
                <div class="col-2 icono-area comment-tweet">
                    <a href="{{ url_for('comment_tweet', tweet_id=tweet.id) }}" style="color: white;"><i class="far fa-comments rt-f-iconos"></i><span>{{ tweet.comments.all()|length }}</span></a>
                </div>
                <div class="col-2 icono-area">
                    {% if tweet.id in user_likes %}
                    <a href="{{ url_for('add_like', tweet_id=tweet.id) }}" style="color: rgb(230, 69, 69);"><i class="fas fa-heart rt-f-iconos"></i><span>{{ tweet.likes|length }}</span></a>
                    {% else %}
                    <a href="{{ url_for('add_like', tweet_id=tweet.id) }}" style="color: white;"><i class="fas fa-heart rt-f-iconos"></i><span>{{ tweet.likes|length }}</span></a>
                    {% endif %}
                </div>
                <div class="col-2 icono-area rt">
                    {% if tweet.id in user_rt %}
                    <a href="{{ url_for('add_retweet', tweet_id=tweet.id) }}" style="color: rgb(45, 168, 117);"><span><i class="fas fa-retweet rt-f-iconos"></i></span><span>{{ tweet.retweets|length }}</span></a> 
                    {% else %}
                    <a href="{{ url_for('add_retweet', tweet_id=tweet.id) }}" style="color: white;"><span><i class="fas fa-retweet rt-f-iconos"></i></span><span>{{ tweet.retweets|length }}</span></a>
                    {% endif %}                         
                </div>
            </div>
        </div>
    </div>
    {% else %}
    <div class="row">
        <a href="{{ url_for('user_profile', username=tweet.tweet_to_comment_username) }}" class="retweet-text">{{ tweet.tweet_to_comment_username }} ha borrado el Tweet principal</a>
        <div class="col-2 foto-perfil circulo">
            <a href="{{ url_for('user_profile', username=tweet.author.username) }}"><img src="{{ tweet.author.email | gravatar }}"/></a>
        </div>
        <div class="col-10 tweet-text">
            <div class="row">
                {% if current_user.id == tweet.author_id %}
                <div class="col-11">
                    <h3><a href="{{ url_for('user_profile', username=tweet.author.username) }}">@{{ tweet.author.username }}</a></h3>
                </div>
                <div class="col-1">
                    <a href="{{ url_for('delete_tweet', tweet_id=tweet.id) }}" class="delete-tweet-icon"><i class="far fa-trash-alt"></i></a>
                </div>
                {% else %}
                <h3> <a href="{{ url_for('user_profile', username=tweet.author.username) }}">@{{ tweet.author.username }}</a></h3>
                {% endif %}
            </div>
            <div class="row">
                <p>{{ tweet.text }}</p>
            </div>
            <div class="row like">
                <div class="col-2 icono-area comment-tweet">
                    <a href="{{ url_for('comment_tweet', tweet_id=tweet.id) }}" style="color: white;"><i class="far fa-comments rt-f-iconos"></i><span>{{ tweet.comments.all()|length }}</span></a>
                </div>
                <div class="col-2 icono-area">
                    {% if tweet.id in user_likes %}
                    <a href="{{ url_for('add_like', tweet_id=tweet.id) }}" style="color: rgb(230, 69, 69);"><i class="fas fa-heart rt-f-iconos"></i><span>{{ tweet.likes|length }}</span></a>
                    {% else %}
                    <a href="{{ url_for('add_like', tweet_id=tweet.id) }}" style="color: white;"><i class="fas fa-heart rt-f-iconos"></i><span>{{ tweet.likes|length }}</span></a>
                    {% endif %}
                </div>
                <div class="col-2 icono-area rt">
                    {% if tweet.id in user_rt %}
                    <a href="{{ url_for('add_retweet', tweet_id=tweet.id) }}" style="color: rgb(45, 168, 117);"><span><i class="fas fa-retweet rt-f-iconos"></i></span><span>{{ tweet.retweets|length }}</span></a> 
                    {% else %}
                    <a href="{{ url_for('add_retweet', tweet_id=tweet.id) }}" style="color: white;"><span><i class="fas fa-retweet rt-f-iconos"></i></span><span>{{ tweet.retweets|length }}</span></a>
                    {% endif %}                         
                </div>
            </div>
        </div>
    </div>
    {% endif %}
</div>