{% extends "navbar.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block content %}
<div class="container">
    <div class="row">
      <div class="col">
        <h3>Iniciar Sesion</h3>
        <div class="row justify-content-center">
            <div class="col-lg-8 col-xl-7">
                {% with messages = get_flashed_messages() %}
                    {% if messages %}
                        {% for message in messages %}
                            <p>{{ message }}</p>
                        {% endfor %}
                    {% endif %}
                {% endwith %}                       
                <form class="form-floating" method="POST" action="{{ url_for('login') }}">
                    {{ login_form.csrf_token }}
                    {{ wtf.form_field(login_form.login_user) }}
                    {{ wtf.form_field(login_form.login_password) }}
                    <input class="btn btn-primary form-button" type="submit" value="Enviar">
            </div>
            
        </div>
    </div>
</div>
{% endblock %}