{% extends "navbar.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block content %}
<div class="container">
    <div class="row all-content">
        <div class="col-3 left-sidebar">
            {% include "left-sidebar.html" %}
        </div>
        <div class="col-6 main-container notification-page">
            {% for notification in all_notifications %}
            {% if notification.is_like == True %}
                <div class="notification-row">
                    <div class="row">
                        <div class="col-1">
                            <i class="fas fa-heart fav-icono"></i>
                        </div>
                        <div class="col text-notification">
                            <div class="row">
                                <p>A <a href="{{ url_for('user_profile', username=notification.user_from) }}">{{ notification.user_from }}</a> le ha gustado tu tweet</p>
                            </div>
                            <div class="row">
                                <p class="tweet-noti-text">{{ notification.tweet.text }}</p>
                            </div>
                        </div>
                    </div>
                </div>
            {% elif notification.is_retweet == True %}
                <div class="notification-row">
                    <div class="row">
                        <div class="col-1">
                            <i class="fas fa-retweet rt-icono"></i>
                        </div>
                        <div class="col text-notification">
                            <div class="row">
                                <p><a href="{{ url_for('user_profile', username=notification.user_from) }}">{{ notification.user_from }}</a> ha retweeteado tu tweet</p>
                            </div>
                            <div class="row">
                                <p class="tweet-noti-text">{{ notification.tweet.text }}</p>
                            </div>
                        </div>
                    </div>
                </div>
            {% elif notification.is_follow == True %}
                <div class="notification-row">
                    <div class="row">
                        <div class="col-1">
                            <i class="fas fa-users follow-icono"></i>
                        </div>
                        <div class="col text-notification">
                            <div class="row">
                                <p><a href="{{ url_for('user_profile', username=notification.user_from) }}">{{ notification.user_from }}</a> te ha seguido</p>
                            </div>
                        </div>
                    </div>
                </div>
            {% elif notification.is_mention == True %}
            <div class="notification-row-tweet">
                <div class="row">
                    <div class="col text-notification">
                        <div class="row">
                            <div class="row" onclick='location.href="{{ url_for('comment_tweet', tweet_id=notification.tweet.id) }}";' style="cursor: pointer;">
                                <div class="col-2 foto-perfil circulo">
                                    <a href="{{ url_for('user_profile', username=notification.tweet.author.username) }}"><img src="{{ notification.tweet.author.email | gravatar }}"/></a>
                                </div>
                                <div class="col-10 tweet-text">
                                    <div class="row">
                                        <h3> <a href="{{ url_for('user_profile', username=notification.tweet.author.username) }}">@{{ notification.tweet.author.username }}</a></h3>
                                    </div>
                                    <div class="row">
                                        <p>{{ notification.tweet.text }}</p>
                                    </div>
                                    <div class="row like">
                                        <div class="col-2 icono-area comment-tweet">
                                            <a href="{{ url_for('comment_tweet', tweet_id=notification.tweet.id) }}" style="color: white;"><i class="far fa-comments rt-f-iconos"></i><span>{{ notification.tweet.comments.all()|length }}</span></a>
                                        </div>
                                        <div class="col-2 icono-area">
                                            {% if notification.tweet.id in user_likes %}
                                            <a href="{{ url_for('delete_like', tweet_id=notification.tweet.id) }}" style="color: rgb(230, 69, 69);"><i class="fas fa-heart rt-f-iconos"></i><span>{{ notification.tweet.likes|length }}</span></a>
                                            {% else %}
                                            <a href="{{ url_for('add_like', tweet_id=notification.tweet.id) }}" style="color: white;"><i class="fas fa-heart rt-f-iconos"></i><span>{{ notification.tweet.likes|length }}</span></a>
                                            {% endif %}
                                        </div>
                                        <div class="col-2 icono-area rt">
                                            {% if notification.tweet.id in user_rt %}
                                            <a href="{{ url_for('delete_retweet', tweet_id=notification.tweet.id) }}" style="color: rgb(45, 168, 117);"><span><i class="fas fa-retweet rt-f-iconos"></i></span><span>{{ notification.tweet.retweets|length }}</span></a> 
                                            {% else %}
                                            <a href="{{ url_for('add_retweet', tweet_id=notification.tweet.id) }}" style="color: white;"><span><i class="fas fa-retweet rt-f-iconos"></i></span><span>{{ notification.tweet.retweets|length }}</span></a>
                                            {% endif %}                         
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% elif notification.is_comment == True %}
            <div class="notification-row-tweet">
                <div class="row">
                    <div class="col text-notification">
                        <div class="row">
                                <div class="row" onclick='location.href="{{ url_for('comment_tweet', tweet_id=notification.tweet.commented.all()[0].id) }}";' style="cursor: pointer;">
                                    <div class="col-2 foto-perfil circulo">
                                        <a href="{{ url_for('user_profile', username=notification.tweet.author.username) }}"><img src="{{ notification.tweet.author.email | gravatar }}"/></a>
                                    </div>
                                    <div class="col-10 tweet-text">
                                        <div class="row">
                                            <h3> <a href="{{ url_for('user_profile', username=notification.tweet.author.username) }}">@{{ notification.tweet.author.username }}</a></h3>
                                        </div>
                                        <div class="row">
                                            <p>{{ notification.tweet.text }}</p>
                                        </div>
                                        <div class="row like">
                                            <div class="col-2 icono-area comment-tweet">
                                                <a href="{{ url_for('comment_tweet', tweet_id=notification.tweet.id) }}" style="color: white;"><i class="far fa-comments rt-f-iconos"></i><span>{{ notification.tweet.comments.all()|length }}</span></a>
                                            </div>
                                            <div class="col-2 icono-area">
                                                {% if notification.tweet.id in user_likes %}
                                                <a href="{{ url_for('delete_like', tweet_id=notification.tweet.id) }}" style="color: rgb(230, 69, 69);"><i class="fas fa-heart rt-f-iconos"></i><span>{{ notification.tweet.likes|length }}</span></a>
                                                {% else %}
                                                <a href="{{ url_for('add_like', tweet_id=notification.tweet.id) }}" style="color: white;"><i class="fas fa-heart rt-f-iconos"></i><span>{{ notification.tweet.likes|length }}</span></a>
                                                {% endif %}
                                            </div>
                                            <div class="col-2 icono-area rt">
                                                {% if notification.tweet.id in user_rt %}
                                                <a href="{{ url_for('delete_retweet', tweet_id=notification.tweet.id) }}" style="color: rgb(45, 168, 117);"><span><i class="fas fa-retweet rt-f-iconos"></i></span><span>{{ notification.tweet.retweets|length }}</span></a> 
                                                {% else %}
                                                <a href="{{ url_for('add_retweet', tweet_id=notification.tweet.id) }}" style="color: white;"><span><i class="fas fa-retweet rt-f-iconos"></i></span><span>{{ notification.tweet.retweets|length }}</span></a>
                                                {% endif %}                         
                                            </div>
                                        </div>
                                    </div>
                                </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endif %}
            {% endfor %}
        </div>
        <div class="col-3 right-sidebar">
            {% include "right-sidebar.html" %}
        </div>
    </div>
</div>
{% endblock %}