{% extends "navbar.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block content %}

<div class="container">
    <div class="row">
      <div class="col">
        <h3>Registrarse</h3>
        <div class="row justify-content-center">
            <div class="col-lg-8 col-xl-7">                       
                <form class="form-floating" method="POST" action="{{ url_for('register') }}">
                    {{ register_form.csrf_token }}
                    {{ wtf.form_field(register_form.user) }}
                    {{ wtf.form_field(register_form.email) }}
                    {{ wtf.form_field(register_form.password) }}
                    <input class="btn btn-primary form-button" type="submit" value="Enviar">
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}