{% extends "navbar.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block content %}
<div class="container">
    <div class="row all-content">
        <div class="col-3 left-sidebar">
            {% include "left-sidebar.html" %}
        </div>
        <div class="col-6 main-container">
            {% if user %}
            <div class="row profile-info">
                <div class="col foto-perfil circulo">
                    <a href="{{ url_for('user_profile', username=user.username) }}"><img src="{{ user.email | gravatar }}"/></a>
                    <p class="alias">{{ user.username }}</p>
                    <p class="username"><a href="{{ url_for('user_profile', username=user.username) }}">@{{ user.username }}</a></p>
                    <a href="#"><span>{{ user.users_following.all()|length }}</span><span>Seguidores</span></a>
                    <a href="#" class="followers-follows"><span>{{ (user.users_followed.all()|length)-1 }}</span><span>Siguiendo</span></a>
                    {% if current_user.username != user.username %}
                    <a href="{{ url_for('follow_user', username=user.username) }}">Seguir</a>
                    {% endif %}
                </div>
            </div>
            {% for tweet in tweets %}
                {% if tweet.is_comment == True %}
                {% include "comment.html" %}
                {% elif tweet.is_retweet == False %}
                {% include "tweet.html" %}
                {% else %}
                {% include "retweet.html" %}
                {% endif %}
            {% endfor %}
            {% else %}
            <div class="row notfound">
                <p>@{{ username }} no existe</p>
                <span>Esta cuenta no existe, intenta hacer otra busqueda.</span>
            </div>
            {% endif %}
        </div>
        <div class="col-3 right-sidebar">
            {% include "right-sidebar.html" %}
        </div>
    </div>
</div>
{% endblock %}